.editor {
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

  & > * {
    transition-duration: 250ms;
    transition-property: all;
    transition-timing-function: var(--ease-out-quad);
  }

  &:not(:focus-within) > * {
    filter: blur(0);
  }

  &[data-focus-mode="true"] {
    & *:is(.focused) {
      filter: blur(0);
    }

    & *:not(.focused) {
      filter: blur(2px);
    }
  }
}