@import "tailwindcss";
@plugin '@tailwindcss/typography';

@variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --animate-fade: animate-opacity 250ms ease-in-out forwards;
  --animate-menu-in: menu-in 250ms ease-in-out forwards;
  --animate-menu-out: menu-out 250ms ease-in-out forwards;
  --animate-enter: enter 1s ease-in-out both;

  @keyframes menu-in {
    0% {
      opacity: 0;
      filter: blur(2px);
      transform: translateY(8px) scale(0.95);
    }
    100% {
      opacity: 1;
      filter: blur(0px);
      transform: translateY(0px) scale(1);
    }
  }

  @keyframes menu-out {
    0% {
      opacity: 1;
      filter: blur(0px);
      transform: translateY(0px) scale(1);
    }
    100% {
      opacity: 0;
      filter: blur(2px);
      transform: translateY(8px) scale(0.95);
    }
  }

  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
      filter: blur(3px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
      filter: blur(0px);
    }
  }
}

/*
  In Tailwind CSS v4, basic styles are applied to form elements by default. To
  maintain compatibility with v3, the following resets have been added:
*/
@layer base {
  input,
  textarea,
  select,
  button {
    border: 0px solid;
    border-radius: 0;
    padding: 0;
    color: inherit;
    background-color: transparent;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  .editor {
    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

    & > * {
      transition-duration: 200ms;
      transition-property: all;
      transition-timing-function: var(--ease-out-quad);
    }
  }

  [data-focus-mode="true"] {
    & *:not(.focused) {
      @apply opacity-40;
    }

    & *:not(:focus-within) > *,
    & *:is(.focused) {
      @apply opacity-100;
    }
  }
}
