.line:hover {
  transform: scaleY(1.3);
}

.line:hover > div {
  background: #eee !important;
}

.line:has(+ .line:hover),
.line:hover + .line {
  @apply scale-y-[1.2];
}

.line:has(+ .line:hover) > div,
.line:hover + .line > div {
  background: #777;
}

.line:has(+ .line + .line:hover),
.line:hover + .line + .line {
  @apply scale-y-105;
}

.line:has(+ .line + .line:hover) > div,
.line:hover + .line + .line > div {
  background: #777;
}
